* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

h2 a {
  text-decoration: none;

}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 12;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  max-width: 800px;
}

section {
  grid-column: 2 / span 12;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  max-width:800px;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 4;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

a {
 color: #9494FF; 
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--dark-bg);
  color: white;
  overflow-x: auto; /* horizontal scroll */
  font-size: 1rem;

}

table th, table td {
  text-align: left;
  padding: 0.75rem;
}

table th {
  font-weight: 700;
  background-color: rgba(20, 20, 20, 0.9);
}

table td img {
  height: 20px; /* Adjust as needed */
}

table a {
  color: #9494FF;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
  position: relative;
}

.sort-arrow {
  font-size: 12px;
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.th-sort-asc .sort-arrow {
  transform: rotate(180deg);
}

/* Responsive Design for larger screens (larger than 768px but smaller than 1376px) */
@media screen and (min-width: 769px) and (max-width: 1376px) {
  table {
    font-size: 1.0rem; /* Adjust font size for medium screens */
  }

  table th, table td {
    padding: 0.5rem; /* Adjust padding for medium screens */
  }

  header {
  grid-column: 2 / span 14;
  }

  section {
  grid-column: 2 / span 14;
  }
}


/* Mobile Styles */
@media screen and (max-width: 768px) {
  :root {
    --spacing: 50px;
  }

  main {
    padding: 60px 0px;
  }

  header {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    padding: 1rem;
  }

  section {
    grid-column: 1 / -1;
    font-size: 1rem;
  }

  blockquote {
    grid-column: 1 / -1;
  }

  blockquote p {
    font-size: 2.5rem;
  }

  .left {
    grid-column: 1 / -1;
  }

  table {
    font-size: 0.9rem; /* slightly smaller font for mobile */
    display: block; /* make table block to allow horizontal scrolling */
    overflow-x: auto; /* horizontal scroll */
  }

  table th, table td {
    padding: 0.4rem; /* smaller padding for mobile */
  }


  table td img {
    height: 15px; /* Adjust as needed for mobile */
  }
}
